<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>info.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="PeriodicSMTPAppender">
        <logSendingInterval>10</logSendingInterval>
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>logback.mailer@gmail.com</username>
        <password>Megaton!</password>

        <to>alxg2112@me.com</to>
        <from>logback.mailer@gmail.com</from>
        <subject>Log from the EmailLogger application</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="EMAIL"/>
    </root>
</configuration>